/* TABLE OF CONTENTS  */
/* ------------
1 . General,
2 . Top Navbar
3 . Navbar,
4 . Banner,
5 . Company,
6 . How Work,
7 . Use Cases,
8 . Pricing,
9 . Start Free,
------------ */

/* 1 .=============================== General Start ===============================*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Color */
    --primary-color: #1a73e8;
    --blue-color: blue;
    --bg-gray: #eee;
    --bg-black: #010101;
    /* Text Style  */
    --primary-font: 'Manrope', sans-serif;
    --text-white: #fff;
    --text-black: #222;
}

body {
    font-family: var(--primary-font);
    background-color: var(--bg-gray);
}

a {
    text-decoration: none;
}

/* =============================== General End ===============================*/

/* =============================== Top Navbar Start ===============================*/
.top-navbar {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--text-white);
}

.top-navbar p {
    margin: 20px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.top-navbar .icons {
    margin: 18px 0;
}

.top-navbar a {
    color: var(--text-white);
    margin-left: 6px;
    font-weight: 700;
    font-size: 15px;
}

.icons {
    transition: box-shadow 0.5s ease;
}

svg {
    transition: margin-left 0.5s ease;
}

.icons:hover svg {
    margin-left: 8px;
}

/* =============================== Top Navbar End ===============================*/

/* =============================== Navbar End ===============================*/
.navbar_wrapper {
    background-color: var(--bg-black);
}

.navbar-brand h1 {
    color: var(--text-white);
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    margin: 0;
}

.custom-btn {
    font-weight: 600;
    color: var(--text-white);
}

.custom-btn:hover {
    color: var(--bg-gray);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

/* =============================== Navbar End ===============================*/
.fixed_both {
    position: relative;
    transition: top 0.8s ease-in-out;
}

.fixed_top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    animation: fadeInDown 0.8s ease-in-out;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* =============================== banner Start ===============================*/
.banner {
    background-color: var(--primary-color);
    height: 60vh;
}

.banner_wrapper h1 {
    font-size: 52px;
    line-height: 52px;
    color: var(--text-white);
    padding-bottom: 20px;
}

.banner_wrapper p {
    font-size: 20px;
    line-height: 32px;
    color: var(--text-white);
}

/* =============================== banner End ===============================*/

/* =============================== Company Start ===============================*/
/* =============================== Company End ===============================*/

/* =============================== How Work Start ===============================*/
.content_wrapper h2 {
    font-size: 46px;
    line-height: 55px;
    color: var(--text-black);
    max-width: 75%;
}

/* =============================== How Work End ===============================*/