/* TABLE OF CONTENTS  */
/* ------------
1 . General,
2 . Top Navbar
3 . Navbar,
4 . Banner,
5 . Company,
6 . How Work,
7 . Use Cases,
8 . Pricing,
9 . Start Free,
10. Footer
------------ */

/* 1 .=============================== General Start ===============================*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Color */
    --primary-color: #1a73e8;
    --blue-color: blue;
    --bg-gray: #eee;
    --bg-lightgray: #e4e4e4;
    --bg-black: #010101;
    --bg-white: #fff;
    /* Text Style  */
    --primary-font: 'Manrope', sans-serif;
    --text-white: #fff;
    --text-black: #222;
    --text-gray: #a9a4a4;
    --text-darkblue: #191551;
}

body {
    font-family: var(--primary-font);
    background-color: var(--bg-gray);
    overflow-x: hidden !important;
}

a {
    text-decoration: none;
}

button:focus {
    border: none;
}

/* =============================== General End ===============================*/

/* =============================== Top Navbar Start ===============================*/
.top-navbar {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--text-white);
}

.top-navbar p {
    margin: 20px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.top-navbar .icons {
    margin: 18px 0;
}

.top-navbar a {
    color: var(--text-white);
    margin-left: 6px;
    font-weight: 700;
    font-size: 15px;
}

.icons {
    transition: box-shadow 0.5s ease;
}

svg {
    transition: margin-left 0.5s ease;
}

.icons:hover svg {
    margin-left: 8px;
}

/* =============================== Top Navbar End ===============================*/

/* =============================== Navbar End ===============================*/
.navbar_wrapper {
    background-color: var(--bg-black);
}

.navbar-brand h1 {
    color: var(--text-white);
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    margin: 0;
}

.custom-btn {
    font-weight: 600;
    color: var(--text-white);
}

.custom-btn:hover {
    color: var(--bg-gray);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none !important;
}

.language-flag {
    width: 30px;
    height: 20px;
}

.modal-body button {
    color: var(--text-black);
    text-decoration: none;
}

/* =============================== Navbar End ===============================*/

/* =============================== banner Start ===============================*/
.banner {
    margin-top: 146px;
    background-color: var(--primary-color);
    height: 60vh;
}

.banner_wrapper h1 {
    font-size: 52px;
    line-height: 52px;
    color: var(--text-white);
    padding-bottom: 20px;
}

.banner_wrapper p {
    font-size: 20px;
    line-height: 32px;
    color: var(--text-white);
}

.banner_btn a {
    color: #202938 !important;
    border-width: 0px !important;
    border-radius: 0px;
    letter-spacing: -0.5px;
    font-size: 18px;
    font-weight: 600 !important;
    background-image: linear-gradient(26deg, #e5a000 0%, #fcda8a 100%);

}

.banner_btn a:hover {
    border-width: 0px !important;
    background-image: linear-gradient(26deg, #e5b139 0%, #fce1a4 100%);
    background-color: transparent;

}


/* =============================== banner End ===============================*/

/* =============================== How Work Start ===============================*/
.content_wrapper h2 {
    font-size: 46px;
    line-height: 55px;
    color: var(--text-black);
    padding: 0 69px 0 69px;
}

.product__content {
    background-color: var(--text-white);
    border: 1px solid var(--bg-black);
}

.product__text {
    padding: 0 40px 0 40px;
}


.product__text h2 {
    font-size: 34px;
    line-height: 41px;
    color: var(--text-black);
    text-align: center;
}

.product__text p {
    font-weight: 500;
    line-height: 26px;
    text-wrap: wrap;
}

/* =============================== How Work End ===============================*/



/* ========================================================================================= */
/* ------------------------------------AI-ChatAssistants ----------------------------------- */
/* ========================================================================================= */

/* =============================== banner Start ===============================*/
.banner_bg {
    margin-top: 146px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 30%, rgba(26, 115, 232, 1) 120%, rgba(23, 70, 133, 1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.banner_heading {
    max-width: 680px;
}

.writeone {
    font-weight: 800;
    line-height: 24px;
    color: var(--text-gray);
}

.banner_heading h1 {
    font-weight: 800;
    font-size: 68px;
    line-height: 75px;
    color: var(--text-white);
    padding-bottom: 20px;
}

.writetwo {
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: var(--text-white);

}

.banner_btn a {
    color: #202938 !important;
    border-width: 0px !important;
    border-color: #F1436D;
    border-radius: 0px;
    letter-spacing: -0.5px;
    font-size: 18px;
    font-weight: 600 !important;
    background-image: linear-gradient(26deg, #e5a000 0%, #fcda8a 100%);
    background-color: #F1436D;

}

.banner_btn a:hover {
    border-color: rgba(241, 67, 109, 0.8) !important;
    border-width: 0px !important;
    background-image: linear-gradient(26deg, #e5b139 0%, #fce1a4 100%);
    background-color: transparent;

}

/* /////////////////////////////// */

.image-container {
    overflow-x: hidden;
    display: flex;
    position: relative;
    animation: slideImages 20s linear infinite;
    max-width: 900px;
    height: 50px;
    gap: 30px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

@keyframes slideImages {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* =============================== banner End ===============================*/

/* ==============================TOOLKIT Start============================== */
.toolkit_wrapper {
    max-width: 680px;
}

.toolkit_wrapper p {
    font-weight: 800;
    line-height: 24px;
    color: var(--primary-color);
}

.toolkit_wrapper h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 53px;
    color: var(--text-black);
}

.card-body {
    padding: 34px;
}

.card_content h3 {
    color: var(--text-darkblue);
    font-size: 24px;
    font-weight: 800;

}

.card_content p {
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;

}

.card_content {
    background-color: var(--bg-white);
    transition: all 0.5s ease-in-out;
    height: 313px;
}

.card_content:hover {
    background-color: var(--primary-color);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.card_content:hover h3 {
    color: var(--text-white);

}

.card_content:hover p {
    color: var(--text-white);

}

.arrow_img {
    transition: margin-left 0.5s ease-in-out;
}

.card_content:hover .arrow_img {
    margin-left: 30px;
    transition: margin-left 0.4s ease-in-out;
}

/* ==============================TOOLKIT End============================== */

/* ============================== AI image Start ============================== */
.image_wrapper {
    background-color: var(--bg-lightgray);
    background-size: 100%;
    width: 100% !important;
}

.ai_image img {
    width: 380px;
    height: 380px;
}

.ai_image p {
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 10px;
    color: white;
}

.ai_image:hover p{
    display: block !important;

}
/* ============================== AI image End ============================== */

/* ==============================AI Chat Start============================== */
.chat_wrapper {
    background-color: var(--primary-color);
    width: 100% !important;
}

.chat_content h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 53px;
    color: var(--bg-white);
}

/* ==============================AI Chat End============================== */

/* ==============================FAQ Start============================== */
.accordion__btn,
.accordion__body {
    background-color: var(--bg-black) !important;
    color: var(--text-white);
    font-size: 20px;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("");
    transform: rotate(0deg);
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M8 1a.5.5 0 0 0-.5.5v6.5H1a.5.5 0 0 0 0 1h6.5V15a.5.5 0 0 0 1 0V8.5H15a.5.5 0 0 0 0-1H9V1.5A.5.5 0 0 0 8 1z'/%3e%3c/svg%3e");

}

.accordion__btn:focus {
    color: var(--text-white);
    box-shadow: none;
}

/* ==============================FAQ End============================== */










/* =============================== Footer Start ===============================*/
.footer,
.faq_wrapper {
    background-color: var(--bg-black);
}

.footer_wrapper h2 {
    font-size: 15px;
    font-weight: 700;
    color: var(--text-white);
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.footer_wrapper li a {
    color: var(--text-white);
    font-weight: 500;
    font-size: 14px;
    transition: 0.3s all ease-in-out;
}

.footer_wrapper li a:hover {
    color: var(--primary-color);
}

.social_icon a i {
    margin-left: 8px;
    transition: 0.3s all ease-in-out;
}

.social_icon a i:hover {
    color: var(--primary-color) !important;
    transition: 0.3s all ease-in-out;
}

.end_buttons p {
    color: var(--text-white);
}

.end_buttons li a {
    color: var(--text-white);
    transition: 0.3s all ease-in-out;
}

.end_buttons li a:hover {
    color: var(--primary-color) !important;
    transition: 0.3s all ease-in-out;
}

.end_buttons a::before {
    color: var(--text-white);
    content: "┃";
    padding: 0 8px 0 8px;
}

.end_buttons li:last-child a::after {
    content: "";
}

.end_buttons ul {
    padding: 0 32px 14px 32px;
    margin-bottom: 0 !important;
    flex-wrap: wrap;
}

/* =============================== Footer End ===============================*/






/* Responsive  */
@media only screen and (max-width: 1980px) {
    .ai_image img {
        width: 432px;
        height: 380px;
    }
}

@media only screen and (max-width: 767px) {
    .banner {
        height: 70vh;
    }

    .banner_wrapper h1 {
        font-size: 42px;
        line-height: 42px;
        padding-bottom: 15px;
    }

    .banner_wrapper p {
        font-size: 16px;
        line-height: 22px;
    }

    .content_wrapper h2 {
        font-size: 42px;
        line-height: 45px;
        padding: 0 40px 0 40px;
    }

    /* AI-ChatAssistants */

    .banner_heading h1 {
        font-weight: 800;
        font-size: 55px;
        line-height: 55px;
    }

    .toolkit_wrapper h1 {
        font-size: 42px;
        line-height: 50px;
    }

    .chat_content h1 {
        font-size: 35px;
        line-height: 15px;
    }
}

@media only screen and (max-width: 480px) {
    .ai_image img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 480px) {
    .top-navbar p {
        font-size: 11px;
    }

    .icons a {
        font-size: 13px;
    }

    .banner_wrapper h1 {
        font-size: 32px;
        line-height: 32px;
        padding-bottom: 10px;
    }

    .content_wrapper h2 {
        font-size: 32px;
        line-height: 35px;
        padding: 0;
    }

    .product__text {
        padding: 0;
    }

    .product__text h2 {
        font-size: 25px;
        line-height: 31px;
    }

    /* AI-ChatAssistants */
    .banner_heading h1 {
        font-size: 40px;
        line-height: 44px;
    }

    .writetwo {
        font-size: 18px;
        line-height: 25px;
    }

    .toolkit_wrapper h1 {
        font-size: 36px;
        line-height: 43px;
    }

    .chat_content h1 {
        font-size: 27px;
        line-height: 25px;
    }
}